  * {
      padding: 0;
      margin: 0;
  }

  .top {
      width: 100%;
      height: 50px;
      background-color: whitesmoke;
      position: fixed;
      z-index: 100;
  }

  .top_left {
      float: left;
  }

  .top_right {
      float: right;
      margin-right: 80px;
  }

  .music-player {
      position: fixed;
      top: 40%;
      right: 10px;
      z-index: 10;
      text-align: center;
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
      width: 100px;
      margin: 0 auto;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  }


  .music_button {
      font-size: 18px;
      margin: 0 auto 10px;
      text-align: center;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: #00c8ff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  button.music_button:hover {
      background-color: #86b300;
  }

  audio {
      width: 100%;
      outline: none;
  }

  .first {
      overflow: hidden;
      width: 1020px;
      margin: 200px auto;
      background-color: gray;
      border-radius: 30px;
      background: rgba(0, 0, 0, .3);
      position: relative;
  }

  .first>div {
      width: 300px;
      height: 400px;
      background-color: whitesmoke;
      float: left;
      margin-left: 30px;
      margin-bottom: 30px;
  }

  .first_img {
      width: 168px;
      height: 240px;
      margin: 15px auto;
  }

  div.card:hover {
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .7);
  }

  input.top_form:hover {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
  }

  a:hover {
      color: inherit;
  }

  .first_button_word {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      line-height: 41px;

  }

  .first_card_up {
      margin-top: 30px;
  }

  .first_button {
      width: 200px;
      height: 45px;
      margin: 15px auto;
      margin-top: 20px;
      border-radius: 30px;
      border: 2px solid gray;
  }

  .first_card_content {
      width: 270px;
      height: 95px;
      margin: 15px auto;
  }

  .second {
      overflow: hidden;
      width: 1020px;
      height: 510px;
      margin: 400px auto;
      border-radius: 30px;
      background: rgba(0, 0, 0, .3);
      position: relative;
  }

  .third {
      overflow: hidden;
      width: 1020px;
      height: 510px;
      margin: 400px auto;
      border-radius: 30px;
      background: rgba(0, 0, 0, .3);
      position: relative;
  }

  .fourth {
      overflow: hidden;
      width: 1020px;
      height: 510px;
      margin: 400px auto;
      border-radius: 30px;
      background: rgba(0, 0, 0, .3);
      position: relative;
  }

  .zero {
      overflow: hidden;
      width: 1020px;
      height: 510px;
      margin: 200px auto;
      border-radius: 30px;
      background: rgba(0, 0, 0, .3);
  }

  .zero_main {
      position: relative;
      overflow: hidden;
      width: 1500px;
      height: 910px;
      margin: 0 auto;
  }

  .zero_logo {
      position: absolute;
      top: 60px;
      right: -23px;
  }

  .main_card {
      position: relative;
      overflow: hidden;
      width: 960px;
      height: 450px;
      margin: 30px 30px;
      background-color: whitesmoke;
  }

  .main_card_bgc {
      position: absolute;
      top: 77px;
      left: 65px;
      background-color: rgba(216, 169, 112);
      width: 480px;
      height: 30px;
  }

  .main_card_bgc2 {
      position: absolute;
      top: 375px;
      right: 20px;
      background-color: rgb(216, 169, 112);
      width: 400px;
      height: 60px;
  }

  .main_card_one {
      float: right;
      width: 370px;
      height: 270px;
      margin-top: 30px;
      margin-right: 30px;
  }

  .main_card_two {
      float: left;
      width: 500px;
      height: 90px;
      margin: 30px 30px;
  }

  .main_card_three {
      float: left;
      width: 370px;
      height: 270px;
      margin-left: 30px;
  }

  .main_card_four {
      float: right;
      width: 500px;
      height: 90px;
      margin: 30px 30px;
  }

  .cebianlan {
      position: fixed;
      z-index: 10;
      top: 300px;
      left: 0;
      width: 70px;
      height: 380px;
  }

  .cebianlan>div {
      width: 50px;
      height: 50px;
      margin: 10px 10px;
      background-color: whitesmoke;
      border: 2px solid gray
  }

  .second_word {
      position: absolute;
      left: 35px;
      bottom: 25px;
      width: 120px;
      height: 50px;
  }

  #third_card {
      width: 960px;
      height: 450px;
      margin: 0 auto;
      position: relative;
  }

  #third_img {
      width: 960px;
      height: 450px;
  }

  .third_left {
      height: 60px;
      width: 60px;
      border-radius: 30px;
      position: absolute;
      top: 195px;
      left: 50px;
      background-color: rgba(0, 0, 0, 0);
      border: solid black;
  }

  .third_right {
      height: 60px;
      width: 60px;
      border-radius: 30px;
      position: absolute;
      top: 195px;
      right: 50px;
      background-color: rgba(0, 0, 0, 0);
      border: solid black;
  }

  .third_left img {
      width: 60px;
      height: 60px;
  }

  .third_right img {
      width: 60px;
      height: 60px;
  }

  .bottom {
      position: relative;
      height: 350px;
      background-color: whitesmoke;
  }

  .bottom_left {
      float: left;
      width: 60%;
      height: 350px;
  }

  .bottom_right {
      float: right;
      width: 40%;
      height: 350px;
  }

  .bottom_docs {
      position: absolute;
      top: 150px;
      right: 100px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: solid gray;
      /* z-index: 10; */
  }

  input.bot_review:hover {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
  }

  body {
      background-image: url(index/img/bg.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 0 center;
  }